<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hly.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.hly.model.Role">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="role" jdbcType="VARCHAR" property="role" />
    <result column="rolename" jdbcType="VARCHAR" property="rolename" />
    <result column="text1" jdbcType="VARCHAR" property="text1" />
    <result column="text2" jdbcType="VARCHAR" property="text2" />
    <result column="text3" jdbcType="VARCHAR" property="text3" />
    <result column="text4" jdbcType="VARCHAR" property="text4" />
    <result column="text5" jdbcType="VARCHAR" property="text5" />
  </resultMap>
  <sql id="Base_Column_List">
    id, role, rolename, text1, text2, text3, text4, text5
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from role
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from role
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hly.model.Role">
    insert into role (id, role, rolename, 
      text1, text2, text3, 
      text4, text5)
    values (#{id,jdbcType=VARCHAR}, #{role,jdbcType=VARCHAR}, #{rolename,jdbcType=VARCHAR}, 
      #{text1,jdbcType=VARCHAR}, #{text2,jdbcType=VARCHAR}, #{text3,jdbcType=VARCHAR}, 
      #{text4,jdbcType=VARCHAR}, #{text5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hly.model.Role">
    insert into role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="role != null">
        role,
      </if>
      <if test="rolename != null">
        rolename,
      </if>
      <if test="text1 != null">
        text1,
      </if>
      <if test="text2 != null">
        text2,
      </if>
      <if test="text3 != null">
        text3,
      </if>
      <if test="text4 != null">
        text4,
      </if>
      <if test="text5 != null">
        text5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="role != null">
        #{role,jdbcType=VARCHAR},
      </if>
      <if test="rolename != null">
        #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="text1 != null">
        #{text1,jdbcType=VARCHAR},
      </if>
      <if test="text2 != null">
        #{text2,jdbcType=VARCHAR},
      </if>
      <if test="text3 != null">
        #{text3,jdbcType=VARCHAR},
      </if>
      <if test="text4 != null">
        #{text4,jdbcType=VARCHAR},
      </if>
      <if test="text5 != null">
        #{text5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hly.model.Role">
    update role
    <set>
      <if test="role != null">
        role = #{role,jdbcType=VARCHAR},
      </if>
      <if test="rolename != null">
        rolename = #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="text1 != null">
        text1 = #{text1,jdbcType=VARCHAR},
      </if>
      <if test="text2 != null">
        text2 = #{text2,jdbcType=VARCHAR},
      </if>
      <if test="text3 != null">
        text3 = #{text3,jdbcType=VARCHAR},
      </if>
      <if test="text4 != null">
        text4 = #{text4,jdbcType=VARCHAR},
      </if>
      <if test="text5 != null">
        text5 = #{text5,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hly.model.Role">
    update role
    set role = #{role,jdbcType=VARCHAR},
      rolename = #{rolename,jdbcType=VARCHAR},
      text1 = #{text1,jdbcType=VARCHAR},
      text2 = #{text2,jdbcType=VARCHAR},
      text3 = #{text3,jdbcType=VARCHAR},
      text4 = #{text4,jdbcType=VARCHAR},
      text5 = #{text5,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectRoleByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select t1.* from  role t1,user_role t2,user t3
    where t1.id=t2.roleid and t2.userid=t3.id and    
     t3.id = #{userid,jdbcType=VARCHAR}
  </select>
  
</mapper>